@page "/cadastrar-aluno"
@inject AlunoService AlunoService

<h3>Cadastrar Aluno</h3>

<EditForm Model="@aluno" OnValidSubmit="@adicionarAlunoAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Nome">Nome de usuário:</label>
        <InputText id="Nome" @bind-Value="aluno.Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NomeCompleto">Nome completo:</label>
        <InputText id="NomeCompleto" @bind-Value="aluno.NomeCompleto" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CursoMatriculado">Curso matriculado:</label>
        <InputText id="CursoMatriculado" @bind-Value="aluno.CursoMatriculado" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CPF">CPF:</label>
        <InputText id="CPF" @bind-Value="aluno.CPF" class="form-control" />
    </div>
    <div class="form-group">
        <label for="DataNascimento">Data de nascimento:</label>
        <InputDate id="DataNascimento" @bind-Value="aluno.DataNascimento" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText id="Email" @bind-Value="aluno.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Senha">Senha:</label>
        <InputText id="Senha" @bind-Value="aluno.Senha" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</EditForm>

@code {
    Aluno aluno = new();

    private async Task adicionarAlunoAsync()
    {
        await AlunoService.AdicionarAlunoAsync(aluno);
    }
}
